.about {
  padding-bottom: 94px;
}
.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
  margin-bottom: 50px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
}
.about-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 27px;
  }
}
.about-list__label {
  position: absolute;
  /* left: 0; */
  bottom: 0;
  display: flex;
  min-height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}
