.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--project-set-gap));
  margin-bottom: calc(-1 * var(--project-set-gap));
}
.projects-list__item {
  background: #ffffff;
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - var(--project-set-gap));
  margin-right: var(--project-set-gap);
  margin-bottom: var(--project-set-gap);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #ffffff;
    /* border: 1px solid #eeeeee; */
    /* box-sizing: border-box; */
    box-shadow: var(--portfolio-box-shadow);
  }
  &:hover .projects-list__top-text {
    transform: translateY(0);
  }
}
.projects-list__item-wrap {
  position: relative;
  overflow: hidden;
}
.projects-list__top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.projects-list__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-list__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.projects-list__text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  /* letter-spacing: 0.03em;
color: #757575; */
}
