.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 400ms, visibility 400ms;
}
.backdrop.is-hidden .modal {
  transform: scale(2.5) rotate(27deg) translate(50px, 50px);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms;
  padding: 40px;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-close__icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.modal-form__field {
  margin-bottom: 10px;
}
.modal-form__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 10px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    opacity: 0.7;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &:focus + .modal-input__icon {
    fill: var(--accent-color);
  }
}
.modal-input__wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.textarea__text {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: transparent;
  resize: none;
  outline: none;
  margin-bottom: 20px;
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    opacity: 0.7;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

/* -----------check form------------ */

.modal-check {
  margin-bottom: 30px;
}
.modal-check__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span.modal-check__icon {
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 8px;
    border-radius: 2px;
  }
}
.icon-check {
  fill: transparent;
}
.modal-checkbox {
  &:checked + .modal-check__text span.modal-check__icon {
    background-color: var(--accent-color);
    border: none;
  }
  &:checked + .modal-check__text .icon-check {
    fill: #ffffff;
  }
}
.checkbox-text {
  margin-right: 0.12em;
}

.modal-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-btn {
  display: block;
  min-width: 200px;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    background-color: #188ce8;
  }
}
