:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primery-background-color: #ffffff;
  --logo-main-color: #000000;
  --logo-footer-color: #ffffff;
  --btn-main-color: #212121;
  --project-set-gap: 30px;
  --team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --footer-main-color: #ffffff;
  --main-social-hover-color: #ffffff;
  /* --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-background-color: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1); */
}
